<%- include('menu') %>

<h1>Contact</h1>
<form action = '/formprocess' method = "post">
    No1: <input type = "number" min = "0" max = "100" placeholder="Enter No 1" name = "txt1" required /><br/>
    No1: <input type = "number" min = "0" max = "100" placeholder="Enter No 1" name = "txt2" required /><br/>
    
    <button type="submit" name = "ans">sumbit</button>
</form>
