<html>
    <body>
        <h2>Login Form</h2>
        <form method = "post", action = "/process">
            email: <input type = "text" placeholder="Enter the email" name = "txt2" required /> <br/>
            password: <input type = 'password' placeholder="Enter the password" name = "txt3" required /> <br/>
            <input type="submit"></br>
        </form>
    </body>
</html>