<html>
    <body>
        <form action = '/signupprocess' method = "post">
            name: <input type = "text" placeholder="Enter the name" name = "txt1" required /><br/>
            email: <input type = "text" placeholder="Enter the email" name = "txt2" required /> <br/>
            password: <input type = 'password' placeholder="Enter the password" name = "txt3" required /> <br/> 
            Mobile: <input type = "number"  placeholder="Mobile" name = "txt4" required /><br/>
            <!-- message: <intput type = "textbox" placeholder = "Message" name = "txt3" required /><br/> -->
            
            <input type="submit"></br>
        </form>
    </body>
</html>